[Install]
WantedBy=multi-user.target

[Unit]
Description=Cloud Storage Manager
# Wants=rabbitmq-server.service
# After=rabbitmq-server.service syslog.target
# Requires=rabbitmq-server.service

[Service]
Environment=NODE_PORT=%i
Type=simple
PermissionsStartOnly=true
ExecStartPre=
ExecStartPre=/usr/bin/mkdir -p /var/run/csm /var/log/csm
ExecStartPre=/usr/bin/chown csm:csm /var/run/csm /var/log/csm
ExecStart=/opt/nvm/versions/node/v12.10.0/bin/node /opt/seagate/csm/web/web-dist/server.js &
ExecStopPost=/sbin/fuser -k 3000/tcp
ExecStopPost=/bin/rm -rf /var/run/csm/csm_web.pid
PIDFile=/var/run/csm/csm_web.pid
User=csm
# Restart=on-failure
TimeoutStartSec=300
