# CORTX-CSM: CORTX Management web and CLI interface.
# Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.

[Install]
WantedBy=multi-user.target

[Unit]
Description=Cloud Storage Manager
# Wants=rabbitmq-server.service
# After=rabbitmq-server.service syslog.target
# Requires=rabbitmq-server.service

[Service]
Environment=NODE_PORT=%i
Type=simple
PermissionsStartOnly=true
#ExecStartPre=
ExecStartPre=/usr/bin/mkdir -p /var/run/csm
ExecStartPre=/usr/bin/chown <USER>:<USER> /var/run/csm
ExecStart=/opt/nodejs/node-v12.13.0-linux-x64/bin/node <CSM_PATH>/web/web-dist/server.js &
#ExecStopPost=/sbin/fuser -k 28100/tcp
#ExecStopPost=/sbin/fuser -k 28102/tcp
ExecStopPost=/bin/rm -rf /var/run/csm/csm_web.pid
PIDFile=/var/run/csm/csm_web.pid
User=<USER>
# Restart=on-failure
TimeoutStartSec=300
