/* Variables, mixins and other scss implementations can be done here.*/
$primary: #6ebe49;
$disabled: #b7b7b7;
$border: #9e9e9e;
$header: #e8e8e8;
$tooltip: #454545;

$error: #dc1f2e;
$error-hover: #ea3947;
$error-active: #af131f;

$warning: #f7a528;
$warning-hover: #ffb744;
$warning-active: #d98a13;

$success: #6ebe49;
$success-hover: #8acb6b;
$success-active: #4b813d;

$info: #00a1dd;
$info-hover: #00b2ff;
$info-active: #0078d6;

$overlay: #9e9e9e;

.flex-filler {
  flex-grow: 1;
}

ul {
  list-style: none;
}
