@import "config.scss";

.flex-filler {
  flex-grow: 1;
}

.lr-zoom-in-icon {
  background-image: url("~@/assets/images/icons/zoom-in.svg");
}
.lr-zoom-in-icon:hover {
  background-image: url("~@/assets/images/icons/zoom-in-hover.svg");
}

.lr-tooltip-text {
  max-width: 100px;
  padding: 5px;
  min-height: 10px;
  background: #000;
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  word-wrap: break-word;
}
.lr-tooltip:hover {
  .lr-tooltip-text {
    visibility: visible;
  }
}

.sgt-form-group-label {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
.v-btn__content {
  text-transform: none;
  letter-spacing: normal;
}
.action-button-container {
  padding: 1.2rem 1.5rem !important;
}

.v-expansion-panel-header,
.v-expansion-panel-content {
  box-shadow: 0px 2px 0px 0px #e5e5e5;
  border: 1px solid #e5e5e5;
}

.panel-content {
  padding-top: 3rem;
  padding-bottom: 1rem;

  .field-row {
    padding: 0 2rem;
  }
  .button-col {
    margin-top: 2rem;
  }
}

.config-page {
  .page-title {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 0;
  }

  .page-sub-title {
    font-weight: bold;
    padding: 1rem 1.5rem;
  }
  .field-label {
    font-weight: bold;
  }
}
