@import "config.scss";

.flex-filler {
  flex-grow: 1;
}

.lr-zoom-in-icon {
  background-image: url("~@/assets/images/icons/zoom-in.svg");
}
.lr-zoom-in-icon:hover {
  background-image: url("~@/assets/images/icons/zoom-in-hover.svg");
}

.lr-tooltip-text {
  max-width: 100px;
  padding: 5px;
  min-height: 10px;
  background: #000;
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  word-wrap: break-word;
}
.lr-tooltip:hover {
  .lr-tooltip-text {
    visibility: visible;
  }
}

.sgt-form-group-custom {
  width: auto;
  min-height: auto;
  padding: 0.5rem 1rem 0.5rem 0;
}
.sgt-form-group-label {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
.v-btn__content {
  text-transform: none;
}
